.App {
  text-align: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  padding-left: 150px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.message-list {
  background: white;
  width: 1000px;
  height: 500px;
  padding: 10px;
  overflow-y: scroll;
  word-break: break-all;
  
  
}

.form {
  display: flex;
  padding-top: 20px;
  width: 100%;
  }

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth.MuiInputBase-formControl{
  color: white;
}

.form-panel {
  width: 100px;
}

.list{
  position: absolute;
  left: -140px;
  color: white;
  border: 1px solid;
  padding: 20px;
}



.nav-header {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  height: 50px;
  
}

.nav-header > a {
  text-decoration: none;
  color: black;
}

.main {
  font-size: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attention-block {
  background-color: white;
  width: 1000px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attention-text {
  font-size: 29px;
}

.route-error {
  font-size: 70px;
  text-align: center;
}

.title-home {
  color: white;
  font-size: 30px;

}

.checkbox-container {
  background-color: #282c34;
  height: 100vh;
}

.info-block {
  color: white;
  padding-left: 100px;
  padding-top: 60px;
}

.list-chats > .list-item:last-child {
  position: relative;
}



.list-item {
  font-size: 20px;
}

.list-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.chat-dell-button{
  height: 25px;
  font-size: 20px;
  cursor: pointer;
}


.message {
  color: black;
  font-size: 20px;
  clear: both;
  white-space: break-spaces;
  
}

.message > div {
  text-align: right;
  background-color: lightblue;
  display: inline-block;
  float: right;
  border-radius: 12px 12px 0 12px;
  margin-bottom: 6px;
  padding: 10px;
  max-width: 50%;
}


.message > .mes-BOT {
  text-align: left;
  background-color: lightgreen;
  float: left;
  border-radius: 12px 12px 12px 0;
  margin-bottom: 6px;
  padding: 10px;
  max-width: 50%;
}

.new-chat-add {
  color: black;
}

.App-header-chats {
  background-color: #282c34;
  min-height: 100vh;
}



.MuiInputBase-input.MuiOutlinedInput-input {
  color: white;
  width: 300px;
}

.MuiButton-label {
  
  height: 16px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
  height: 55px;
}

.chat-id{
  color: white;
  display: inline;
  text-align: left;
  width: 100%;
  
}

hr {
  width: 100%;
  height: 2px;
}



