.App {
  text-align: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message {
  color: black;
  font-size: 20px;
  text-align: left;
  }

.message-list {
  background: white;
  width: 1000px;
  height: 500px;
  padding: 10px;
  overflow-y: scroll;
  word-break: break-all;
  
}

.form {
  display: flex;
  padding-top: 20px;
  width: 100%;
  }

input {
  color: white !important;
}

.form-panel {
  width: 100px;
}

.list{
  position: absolute;
  left: -140px;
  color: white;
 }

.nav-header {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  height: 50px;
  
}

.nav-header > a {
  text-decoration: none;
  color: black;
}

.main {
  font-size: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attention-block {
  background-color: white;
  width: 1000px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attention-text {
  font-size: 29px;
}

.route-error {
  font-size: 70px;
  text-align: center;
}

.title-home {
  color: white;
  font-size: 30px;

}